body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: rgb(233, 233, 233);
}

.nav {
  font-weight: bold;
  background: rgb(39, 40, 45);
  background: linear-gradient(
    90deg,
    rgba(39, 40, 45, 1) 0%,
    rgba(133, 160, 193, 1) 90%
  );
  color: rgb(150, 159, 165);
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(23, 10, 44, 0.808);
  padding-top: 10%;
  font-weight: 900;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.greeting {
  font-size: 40px;
  display: inline;
  margin-bottom: 1px;
}

.title {
  font-size: 130px;
  line-height: 0.9;
}

.title a,
.title span {
  margin-right: 20px;
}

.title img {
  background-color: white;
  border-radius: 10px;
}

.title img:hover {
  background-color: white;
  box-shadow: 1px 1px 10px white;
}

.description-container {
  display: flex;
  justify-content: right;
}

.description {
  font-size: 20px;
  max-width: 45%;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10%;
}

.project-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
}

@media (max-width: 766px) and (min-width: 680px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .greeting {
    font-size: 30px;
  }

  .title {
    font-size: 90px;
  }
  .description {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .greeting {
    font-size: 20px;
  }

  .title {
    font-size: 55px;
  }
  .title img {
    width: 30px;
  }
  .description {
    padding: 0;
    font-size: 12px;
  }
}

@media (max-width: 390px) {
  .description {
    width: 310px;
  }
}
